<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body, html{
                background-image: linear-gradient(rgb(243, 186, 232), rgb(255, 255, 174));
                background-repeat: no-repeat;
                background-size: 100% 100vh;
            }

            #responseForm, #recentSection{
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 7px;
                border: 0px;
            }

        </style>
    </head>
    <body>
        
        <div class="container">
            
            <div class="row mt-4">
                <form id="responseForm" method="POST" action="/" class="card col-12 col-md-5 p-3 pt-2">
                    <div class="card-body">
                        <h5>Leave a message</h5>
                        <div id="alert-holder" class="mt-2"></div>
                        <div class="form-floating mt-2">
                            <textarea class="form-control" placeholder="message" id="responseText" style="height: 100px" required></textarea>
                            <label for="floatingTextarea2">Message*</label>
                        </div>
                        <div class="form-floating mt-2">
                            <input type="text" class="form-control" id="uname" placeholder="Anonymous">
                            <label for="uname">Name</label>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3" id="btn-submit">Post</button>
                    </div>
                </form>

                <div class="col-12 col-md-6 mt-2 mt-md-0 ms-md-3 p-3" id="recentSection">
                    <h5 class="pt-2">Recent Posts</h5>
                    <div id="recents-alert-holder" class="mt-1"></div>
                    <div id="recents-holder" class="mt-1 list-group"></div>
                    <div class="text-center"><button type="button" class="btn btn-secondary btn-sm">Load More</button></div>
                </div>
            </div>
        </div>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </body>
</html>